
//COLOR PICKER

$primary : #E6D8AD;
$body-color : rgb(216, 214, 189);
$background-col : #C2B185;
$secondary : #3F3229;
$LightGrey : #65584A;


html {
  margin : 0;
  padding : 0;
  scroll-behavior: smooth;
}
body {
  width : 100%;
  margin : 0;
  font-family: 'Space Mono', monospace;
  font-size : 10px;
  background-color : rgb(255, 253, 226);
  letter-spacing: 2px;
  perspective: 400px;
  perspective-origin: right;
  color : $LightGrey;
  ::selection {
    background: #929292; 
  }
}


//////////////////////////////////////
//
//   HEADER
//
//////////////////////////////////////

header {
    width: 100%;
    height: 100vh;
    .nav-container {
      width : 100vw;
      height : 25px;
      margin: 0;
      padding: 0;
      background-color : $secondary;

    }
        #author {
          display : block;
          margin-left : auto;
          margin-right : auto;
          text-align : center;
          color : $LightGrey;
          background-color : transparent;
          font-size : 50px;
          text-align : center;
          text-transform: uppercase;
          clip-path: inset(100% 0 0 0);
          animation : showTitle 2s;
          animation-fill-mode: forwards;
          animation-delay: 0.5s;  
          position: relative;
          transition: all 500ms;
          text-shadow: 1px 0px 1px $primary,
           0px 1px 1px $primary,
            2px 1px 1px $primary,
             1px 2px 1px $primary,
              3px 2px 1px $primary,
               2px 3px 1px $primary,
                4px 3px 1px $primary,
                 3px 4px 1px $primary,
                  5px 4px 1px $primary,
        }
        .menu {
          width : 100%;
          height : 25vh;
          margin-top : 10%;
          display : flex;
          flex-direction: row;
          justify-content: space-around;
          .menu-li {
            width : 100px;
            height : 100px;
            text-align : center;
            font-size : 15px;
            border : solid 1px $LightGrey;
            transform : rotate(-45deg);
            transition : box-shadow 0.3s ease-in-out;            
            a {
              border : none;
              outline: none;
              background : none;
              font-style: none;
              text-decoration : none;
              width : 100%;
              height : 100%;
              position : absolute;
              top : 0;
              left: 0;
              &:before {
                content: '';
                display: inline-block;
                height: 1px;
                width: 100%;
                margin-right: 12px;
                margin-bottom: 4px;
                background-color: $background-col;
                animation : showLine;
                animation-duration: 1s;
                animation-fill-mode: forwards;
                transform : rotate(45deg);
  
              }
              &:after {
                content: '';
                display: inline-block;
                height: 1px;
                width: 100%;    background-color : $background-col;

                margin-right: 12px;
                margin-bottom: 4px;
                background-color: $background-col;
                animation : showLine;
                animation-duration: 1s;
                animation-fill-mode: forwards;
                transform : rotate(45deg);
  
              }
            }

            p {
              transform : rotate(45deg);
              color : $LightGrey;
              font-size : 15px;
            }
          }
          .menu-li:hover {
            color : $primary;
            box-shadow: 0px 0px 10px 0px #3F3229;
          }
        }
        h3 {
          width : 100%;
          text-align : center;
          font-size : 15px;
          color : $LightGrey;
        }
     .container-arrow {
        position : fixed;
        bottom : 20px;
        right : 20px;
        display : block;
        margin-right : auto;
        margin-left : auto;
        margin-top : 5%;
        width : 30px;
        height : 60px;
        animation : growButton 1s; 
          button {
            background: none;
            color: inherit;
            border: none;
            padding: 0;
            outline: inherit;
           }
      
          .arrow-down {
            display : block;
            margin-top : auto;
            margin-bottom : auto;
            margin-right : auto;
            margin-left : auto;
            width : 30px;
            height : 30px;
            border-bottom : solid 1px
            $LightGrey;
            border-right : solid 1px
            $LightGrey;
            transition-property : background-color;
            transition-duration: 1s;
            transform: rotate(45deg); 
          &::before{
              transition: all 0.4s;  
              position:absolute;
              content:"";
              border: solid 1px
              $LightGrey;
              width: 100%;
              height : 100%;
              top : -1px;
              left: -1px;
            }

            .little-arrow-down {
              display : block;
              width : 22px;
              height : 22px;
              border-bottom : solid 1px
              $LightGrey;
              border-right : solid 1px
              $LightGrey;
              }
        }
      .arrow-down:hover {
        &::before{
          transform: scaleX(1.5) scaleY(1.5);
        }
  }  

}
}  
//////////////////////////////////////////////
//
// SECTION ABOUT
//
//////////////////////////////////////////////
.about {
  
  width : 100%;
  height : 100vh;
  display : flex;
  flex-direction : row;
  justify-content: space-around;
  padding-top : 15%;
  #anchor-top {
    width : 1px;
    height : 0px;
  }
  #pdp {
    width : 300px;
    height : 300px;
    transform : rotate(45deg);
    border : solid 1px $LightGrey; 
    box-shadow: 0px 0px 20px 0px #3F3229;
    img {
      position : absolute;
      top : -60px;
      left : -60px;
      width : 140%;
      height : 140%;
      transform : rotate(-45deg);
      box-shadow: inset 10px 10px 49px 6px rgba(0,0,0,0.31);
      clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    }
    &:before {
      content: '';
      z-index : 2;
      display: inline-block;
      position : absolute;
      top: 250px;
      left: 150px;
      height: 100px;
      width: 100px;
      margin-right: 12px;
      margin-bottom: 4px;
      background-color: $background-col;
      animation : growButton 1s;
    }
    &:after {
      content: '';
      z-index : 3;
      display: inline-block;
      position : absolute;
      top: 4px;
      left: 4px;
      height: 290px;
      width: 290px;
      margin-right: 12px;
      margin-bottom: 4px;
      border : solid 1px $LightGrey;
      animation : growButton 1s;

    }
  }
  #about-text {
    width : 40%;
    height : auto;
    h2 {
      font-size : 30px;
      text-shadow: 1px 0px 1px $primary,
      0px 1px 1px $primary,
       2px 1px 1px $primary,
        1px 2px 1px $primary,
         3px 2px 1px $primary,
          2px 3px 1px $primary,
           4px 3px 1px $primary,
            3px 4px 1px $primary,
             5px 4px 1px $primary,
    }
    p {
      font-size : 13px;
    }
    &:after {
      content: '';
      display: inline-block;
      position : absolute;
      height: 10px;
      width: 40%;
      margin-right: 12px;
      margin-bottom: 4px;
      background-color: $background-col;
      animation : growButton 1s;

    }
  }

}
////////////////////////////////////
//
// SECTION PROJECT
//
////////////////////////////////////
.project {
  width : 100%;
  height : 100vh;
  
  .container {
    display : flex;
    flex-direction : row;
    justify-content: space-around;
    width : 100%;
    height : 100%;
    padding-top : 2%;

.item {
  display : flex;
  flex-direction: column;
  justify-content: center;
  .main-square {
    display : flex;
    flex-direction : row;
    width : 60%;
    height : 400px;
    text-align : left;
    z-index : 1;
    transition : box-shadow 0.3s ease-in-out;    
    margin-left : auto;
    margin-right : auto;
    &::before {
      content : 'NEXT';
      position  : absolute;
      right : 10%;
      top : 50%;
      width  : 10%;
      height : 1px;
      background-color:$secondary;
      margin-right : 15px;
      text-align : center;
      animation : showLineSlide 1s; 

    }
    &::after {
      content : 'PREVIOUS';
      position  : absolute;
      left : 10%;
      top : 50%;
      width  : 10%;
      height : 1px;
      margin-left : 15px;
      text-align : center;
      background-color:$secondary;
      animation : showLineSlide 1s; 

    }
    .img-project {
      width : 100%;
      height :100%;
      border-top : solid 1px $secondary;
      border-left : solid 1px $secondary;
      border-bottom : solid 1px $secondary;

      .rect-top {
        z-index : 3;
        position : absolute;
        width : 100px;
        height : 100px;
        transform : rotate(-45deg);
        top: 21px;
        left: 206px;
        background-color: $secondary;
        p {
          font-size : 35px;
          text-align : center;
          width : 100%;
          height : 50%;
          margin : auto;
        }
      }
      img {
        height : 100%;
        width : 100%;
      }
    }
    .description-project {
      width : 100%;
      height : 100%;
      border-top : solid 1px $secondary;
      border-right : solid 1px $secondary;
      border-bottom : solid 1px $secondary;
      p {
        align-items : center;
        width : 50%;
        height : 100%;
        text-align : center;
        font-size : 12px;
        margin : auto;
        
    }
    }
  }
  
    .main-square:hover {
    box-shadow: 0px 0px 20px 0px #3F3229;
  }
}
  
  
  }

  .owl-stage, .owl-stage-outer {
    height : 400px;
    padding-bottom : 100px;
    padding-top : 10px;
  }
}

.owl-stage {
  display : flex;
  flex-direction : row;
  align-items: center;
  justify-content: center;
}


//////////////////////////////////
//
// CONTACT 
//
//////////////////////////////////


//////////////////////////////////
//
// ANIMATION
//
//////////////////////////////////

 //transition name DULIEU

@keyframes growButton {
  from {
    transform : scale(0);
    opacity : 0;
  }
  to {
    transform : scale(100%);
    opacity : 1;
  }
}


//Title showing up from bottom
@keyframes showTitle {
  from {
    clip-path: inset(100% 0 0 0);
    
  }
  to {
    clip-path: inset(0 0 0 0);
  }
}

//Line showing up from title

@keyframes showLine {
  from {
    transform : rotate(45deg) scaleX(0);
  }
  to {
    transform: rotate(45deg) scaleX(100%);
  }
}

@keyframes showLineSlide {
  from {
    transform :scaleX(0);
  }
  to {
    transform:scaleX(100%);
  }
}
 
//transition bouton 
 @keyframes sliding-arrow {
      0% {      
                transform: translateY(0);
              background-color : transparent;
      }
      100% {
                transform: translateY(5px);
                background-color :
                $LightGrey;

      }
}
