html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth; }

body {
  width: 100%;
  margin: 0;
  font-family: 'Space Mono', monospace;
  font-size: 10px;
  background-color: #fffde2;
  letter-spacing: 2px;
  perspective: 400px;
  perspective-origin: right;
  color: #65584A; }
  body ::selection {
    background: #929292; }

header {
  width: 100%;
  height: 100vh; }
  header .nav-container {
    width: 100vw;
    height: 25px;
    margin: 0;
    padding: 0;
    background-color: #3F3229; }
  header #author {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: #65584A;
    background-color: transparent;
    font-size: 50px;
    text-align: center;
    text-transform: uppercase;
    clip-path: inset(100% 0 0 0);
    animation: showTitle 2s;
    animation-fill-mode: forwards;
    animation-delay: 0.5s;
    position: relative;
    transition: all 500ms;
    text-shadow: 1px 0px 1px #E6D8AD, 0px 1px 1px #E6D8AD, 2px 1px 1px #E6D8AD, 1px 2px 1px #E6D8AD, 3px 2px 1px #E6D8AD, 2px 3px 1px #E6D8AD, 4px 3px 1px #E6D8AD, 3px 4px 1px #E6D8AD, 5px 4px 1px #E6D8AD; }
  header .menu {
    width: 100%;
    height: 25vh;
    margin-top: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-around; }
    header .menu .menu-li {
      width: 100px;
      height: 100px;
      text-align: center;
      font-size: 15px;
      border: solid 1px #65584A;
      transform: rotate(-45deg);
      transition: box-shadow 0.3s ease-in-out; }
      header .menu .menu-li a {
        border: none;
        outline: none;
        background: none;
        font-style: none;
        text-decoration: none;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0; }
        header .menu .menu-li a:before {
          content: '';
          display: inline-block;
          height: 1px;
          width: 100%;
          margin-right: 12px;
          margin-bottom: 4px;
          background-color: #C2B185;
          animation: showLine;
          animation-duration: 1s;
          animation-fill-mode: forwards;
          transform: rotate(45deg); }
        header .menu .menu-li a:after {
          content: '';
          display: inline-block;
          height: 1px;
          width: 100%;
          background-color: #C2B185;
          margin-right: 12px;
          margin-bottom: 4px;
          background-color: #C2B185;
          animation: showLine;
          animation-duration: 1s;
          animation-fill-mode: forwards;
          transform: rotate(45deg); }
      header .menu .menu-li p {
        transform: rotate(45deg);
        color: #65584A;
        font-size: 15px; }
    header .menu .menu-li:hover {
      color: #E6D8AD;
      box-shadow: 0px 0px 10px 0px #3F3229; }
  header h3 {
    width: 100%;
    text-align: center;
    font-size: 15px;
    color: #65584A; }
  header .container-arrow {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 5%;
    width: 30px;
    height: 60px;
    animation: growButton 1s; }
    header .container-arrow button {
      background: none;
      color: inherit;
      border: none;
      padding: 0;
      outline: inherit; }
    header .container-arrow .arrow-down {
      display: block;
      margin-top: auto;
      margin-bottom: auto;
      margin-right: auto;
      margin-left: auto;
      width: 30px;
      height: 30px;
      border-bottom: solid 1px #65584A;
      border-right: solid 1px #65584A;
      transition-property: background-color;
      transition-duration: 1s;
      transform: rotate(45deg); }
      header .container-arrow .arrow-down::before {
        transition: all 0.4s;
        position: absolute;
        content: "";
        border: solid 1px #65584A;
        width: 100%;
        height: 100%;
        top: -1px;
        left: -1px; }
      header .container-arrow .arrow-down .little-arrow-down {
        display: block;
        width: 22px;
        height: 22px;
        border-bottom: solid 1px #65584A;
        border-right: solid 1px #65584A; }
    header .container-arrow .arrow-down:hover::before {
      transform: scaleX(1.5) scaleY(1.5); }

.about {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 15%; }
  .about #anchor-top {
    width: 1px;
    height: 0px; }
  .about #pdp {
    width: 300px;
    height: 300px;
    transform: rotate(45deg);
    border: solid 1px #65584A;
    box-shadow: 0px 0px 20px 0px #3F3229; }
    .about #pdp img {
      position: absolute;
      top: -60px;
      left: -60px;
      width: 140%;
      height: 140%;
      transform: rotate(-45deg);
      box-shadow: inset 10px 10px 49px 6px rgba(0, 0, 0, 0.31);
      clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%); }
    .about #pdp:before {
      content: '';
      z-index: 2;
      display: inline-block;
      position: absolute;
      top: 250px;
      left: 150px;
      height: 100px;
      width: 100px;
      margin-right: 12px;
      margin-bottom: 4px;
      background-color: #C2B185;
      animation: growButton 1s; }
    .about #pdp:after {
      content: '';
      z-index: 3;
      display: inline-block;
      position: absolute;
      top: 4px;
      left: 4px;
      height: 290px;
      width: 290px;
      margin-right: 12px;
      margin-bottom: 4px;
      border: solid 1px #65584A;
      animation: growButton 1s; }
  .about #about-text {
    width: 40%;
    height: auto; }
    .about #about-text h2 {
      font-size: 30px;
      text-shadow: 1px 0px 1px #E6D8AD, 0px 1px 1px #E6D8AD, 2px 1px 1px #E6D8AD, 1px 2px 1px #E6D8AD, 3px 2px 1px #E6D8AD, 2px 3px 1px #E6D8AD, 4px 3px 1px #E6D8AD, 3px 4px 1px #E6D8AD, 5px 4px 1px #E6D8AD; }
    .about #about-text p {
      font-size: 13px; }
    .about #about-text:after {
      content: '';
      display: inline-block;
      position: absolute;
      height: 10px;
      width: 40%;
      margin-right: 12px;
      margin-bottom: 4px;
      background-color: #C2B185;
      animation: growButton 1s; }

.project {
  width: 100%;
  height: 100vh; }
  .project .container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    padding-top: 2%; }
    .project .container .item {
      display: flex;
      flex-direction: column;
      justify-content: center; }
      .project .container .item .main-square {
        display: flex;
        flex-direction: row;
        width: 60%;
        height: 400px;
        text-align: left;
        z-index: 1;
        transition: box-shadow 0.3s ease-in-out;
        margin-left: auto;
        margin-right: auto; }
        .project .container .item .main-square::before {
          content: 'NEXT';
          position: absolute;
          right: 10%;
          top: 50%;
          width: 10%;
          height: 1px;
          background-color: #3F3229;
          margin-right: 15px;
          text-align: center;
          animation: showLineSlide 1s; }
        .project .container .item .main-square::after {
          content: 'PREVIOUS';
          position: absolute;
          left: 10%;
          top: 50%;
          width: 10%;
          height: 1px;
          margin-left: 15px;
          text-align: center;
          background-color: #3F3229;
          animation: showLineSlide 1s; }
        .project .container .item .main-square .img-project {
          width: 100%;
          height: 100%;
          border-top: solid 1px #3F3229;
          border-left: solid 1px #3F3229;
          border-bottom: solid 1px #3F3229; }
          .project .container .item .main-square .img-project .rect-top {
            z-index: 3;
            position: absolute;
            width: 100px;
            height: 100px;
            transform: rotate(-45deg);
            top: 21px;
            left: 206px;
            background-color: #3F3229; }
            .project .container .item .main-square .img-project .rect-top p {
              font-size: 35px;
              text-align: center;
              width: 100%;
              height: 50%;
              margin: auto; }
          .project .container .item .main-square .img-project img {
            height: 100%;
            width: 100%; }
        .project .container .item .main-square .description-project {
          width: 100%;
          height: 100%;
          border-top: solid 1px #3F3229;
          border-right: solid 1px #3F3229;
          border-bottom: solid 1px #3F3229; }
          .project .container .item .main-square .description-project p {
            align-items: center;
            width: 50%;
            height: 100%;
            text-align: center;
            font-size: 12px;
            margin: auto; }
      .project .container .item .main-square:hover {
        box-shadow: 0px 0px 20px 0px #3F3229; }
  .project .owl-stage, .project .owl-stage-outer {
    height: 400px;
    padding-bottom: 100px;
    padding-top: 10px; }

.owl-stage {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; }

@keyframes growButton {
  from {
    transform: scale(0);
    opacity: 0; }
  to {
    transform: scale(100%);
    opacity: 1; } }

@keyframes showTitle {
  from {
    clip-path: inset(100% 0 0 0); }
  to {
    clip-path: inset(0 0 0 0); } }

@keyframes showLine {
  from {
    transform: rotate(45deg) scaleX(0); }
  to {
    transform: rotate(45deg) scaleX(100%); } }

@keyframes showLineSlide {
  from {
    transform: scaleX(0); }
  to {
    transform: scaleX(100%); } }

@keyframes sliding-arrow {
  0% {
    transform: translateY(0);
    background-color: transparent; }
  100% {
    transform: translateY(5px);
    background-color: #65584A; } }
