html {
  margin: 0;
  padding: 0; }

body {
  width: 100%;
  height: 3000px;
  margin: 0;
  font-family: 'Space Mono', monospace;
  font-size: 10px;
  background-color: black; }

header {
  width: 100%;
  height: 100vh;
  background-color: transparent; }
  header #global-circle {
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    height: 500px;
    animation: orbit 10.67743s linear infinite; }
  header #circle1 {
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
    width: 500px;
    height: 500px;
    border-radius: 100%;
    border: solid 2px white;
    clip-path: inset(100% 0 0 0);
    animation: showCircle1 2s;
    animation-fill-mode: forwards;
    animation-delay: 1s; }
    header #circle1:before {
      content: '';
      position: absolute;
      width: 20px;
      height: 20px;
      border-radius: 100%;
      background-color: white;
      top: 77px;
      left: 49px; }
    header #circle1:before:hover {
      transform: scaleX(1) scaleY(1); }
  header #author {
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: white;
    background-color: transparent;
    font-size: 10px;
    text-align: left;
    text-transform: uppercase;
    clip-path: inset(100% 0 0 0);
    animation: showTitle 2s;
    animation-fill-mode: forwards;
    animation-delay: 3s;
    position: relative;
    transition: all 500ms; }
    header #author:before {
      content: '';
      display: inline-block;
      height: 1px;
      width: 15px;
      margin-right: 12px;
      margin-bottom: 4px;
      background-color: #666;
      transition: all 500ms;
      animation: showLine;
      animation-duration: 4s;
      animation-fill-mode: forwards;
      animation-delay: 3.5s; }
  header #travel-text {
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: white;
    background-color: transparent;
    text-align: center;
    text-transform: uppercase;
    clip-path: inset(100% 0 0 0);
    animation: showTitle 2s;
    animation-fill-mode: forwards;
    animation-delay: 3s;
    position: relative;
    transition: all 500ms; }
    header #travel-text:before {
      content: '';
      display: inline-block;
      height: 1px;
      width: 30px;
      margin-right: 12px;
      margin-bottom: 4px;
      background-color: #666;
      transition: all 500ms;
      animation: showLine;
      animation-duration: 4s;
      animation-fill-mode: forwards;
      animation-delay: 3.5s; }
    header #travel-text:after {
      content: '';
      display: inline-block;
      height: 1px;
      width: 30px;
      margin-left: 12px;
      margin-bottom: 4px;
      background-color: #666;
      transition: all 500ms;
      animation: showLine;
      animation-duration: 4s;
      animation-fill-mode: forwards;
      animation-delay: 3.5s; }
  header .container-arrow {
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 2%;
    width: 30px;
    height: 60px;
    animation: growButton 1s; }
    header .container-arrow button {
      background: none;
      color: inherit;
      border: none;
      padding: 0;
      outline: inherit; }
    header .container-arrow .arrow-down {
      display: block;
      margin-top: auto;
      margin-bottom: auto;
      margin-right: auto;
      margin-left: auto;
      width: 30px;
      height: 30px;
      border-bottom: solid 1px white;
      border-right: solid 1px white;
      background-color: black;
      transition-property: background-color;
      transition-duration: 1s;
      transform: rotate(45deg); }
      header .container-arrow .arrow-down::before {
        transition: all 0.4s;
        position: absolute;
        content: "";
        border: solid 1px white;
        width: 100%;
        height: 100%;
        top: -1px;
        left: -1px; }
      header .container-arrow .arrow-down .little-arrow-down {
        display: block;
        width: 22px;
        height: 22px;
        border-bottom: solid 1px white;
        border-right: solid 1px white; }
    header .container-arrow .arrow-down:hover::before {
      transform: scaleX(1.5) scaleY(1.5); }

#about {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row; }
  #about #nav-bar {
    width: 40%;
    height: 100%;
    color: white;
    font-size: 1.6em; }
    #about #nav-bar ul {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      position: relative;
      top: 50%;
      left: -20%;
      transform: rotate(-90deg);
      text-align: left; }
      #about #nav-bar ul li {
        list-style-type: none;
        margin-left: 10%;
        margin-right: 10%;
        margin-bottom: 5px;
        width: 33%; }
        #about #nav-bar ul li button {
          background: none;
          color: inherit;
          border: none;
          padding: 0;
          outline: inherit; }
        #about #nav-bar ul li button:hover {
          border-bottom: solid 1px white; }
  #about #text {
    width: 50%;
    height: 100vh;
    padding-top: 10%;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto; }
    #about #text div {
      width: 100%;
      color: white;
      border: solid 1px white;
      margin-left: auto;
      margin-right: auto; }
      #about #text div h1 {
        width: 100%;
        font-size: 3em; }
      #about #text div p {
        font-size: 1.5em; }

@keyframes growButton {
  from {
    transform: scale(0);
    opacity: 0; }
  to {
    transform: scale(100%);
    opacity: 1; } }

@keyframes showCircle1 {
  from {
    clip-path: inset(100% 0 0 0);
    transform: rotate(0deg); }
  to {
    clip-path: inset(0 0 0 0);
    transform: rotate(-360deg); } }

@keyframes orbit {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(-360deg); } }

@keyframes showTitle {
  from {
    clip-path: inset(100% 0 0 0); }
  to {
    clip-path: inset(0 0 0 0); } }

@keyframes showLine {
  from {
    transform: scaleX(0); }
  to {
    transform: scaleX(100%); } }

@keyframes sliding-arrow {
  0% {
    transform: translateY(0);
    background-color: transparent; }
  100% {
    transform: translateY(5px);
    background-color: black; } }
